services:
  postgres:
    image: postgres
    restart: unless-stopped
    ports:
      - "5432:5432"

    shm_size: 128mb
    environment:
      POSTGRES_USER: ZarparApp
      POSTGRES_PASSWORD: ARandomPass#123
      POSTGRES_DB: zarpar

    volumes:
      - pg_data:/var/lib/postgresql

  mongo:
    image: mongo
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  redis:
    image: redis:latest
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  backend:
    build: ./Back-end/zarpar
    environment:
      - POSTGRES_CONNECT_URL=jdbc:postgresql://postgres:5432/zarpar
      - POSTGRES_USER=ZarparApp
      - POSTGRES_PASSWORD=ARandomPass#123
      - MONGO_CONNECT_URL=mongodb://mongo:27017/zarpar_docs
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - MONGO_USER=ZarparApp
      - MONGO_PASSWORD=ARandomPass#123
    ports:
      - "8080:8080"
    volumes:
      - "./zarparUploads/:/uploads"

    depends_on:
      - postgres
      - mongo
      - redis

  frontend:
    build: ./Front-end/zarpar
    ports:
      - "4200:80"

    depends_on:
      - backend

volumes:
  pg_data:
  mongo_data:
  redis_data:
